{% extends 'admin/base1.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

{% include 'admin/status.html' %}

<div class="row">
	{% comment %} <div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Orders</th>
				</tr>

			</table>
		</div>
	</div> {% endcomment %}

	<div class="col-md-12">
		<h5>ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Order Details:</a>
			<table class="table table-sm">
				<tr>
					<th>Customer</th>
					<th>Product Details</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>PaymentStatus</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
				{% for order in orders %}
				<tr>
					<td>{{order.name}}</td>
					<td>{{ order.items_json }}</td>
					<td>{{order.orderDate}}</td>
					<td>{{order.orderStatus}}</td>
					<td>{{order.paymentStatus}}</td>
					<td><a class="btn btn-primary" href='updateOrder/{{order.order_id}}'>Update</a></td>
					<td><a class="btn btn-danger" href='deleteOrder/{{order.order_id}}'>Delete</a></td>
				</tr>
				{% endfor %}
		
			</table>
		</div>
	</div>

</div>
<br>

<!-- Display Contact Us Messages -->
	<div class="row">

		<div class="col-md-12">
			<h5>Contact Messages</h5>
			<hr>
			<div class="card card-body">
				<a class="btn btn-primary  btn-sm btn-block" href="">Messages</a>
				<table class="table table-sm">
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Message</th>
						<th>View</th>
						<th>Delete</th>
					</tr>
					{% for contact in contacts %}
					<tr>
						<td>{{contact.name}}</td>
						<td>{{ contact.email }}</td>
						<td>{{contact.phone}}</td>
						<td>{{contact.description|slice:"0:20"}}...</td>
						<td><a class="btn btn-primary" href='viewMessages/{{contact.contactId}}'>View</a></td>
						<td><a class="btn btn-danger" href=''>Delete</a></td>
					</tr>
					{% endfor %}
			
				</table>
			</div>
		</div>

	</div>


{% endblock body %}

{% block script %}
<script>


</script>
{% endblock script %}