{% extends 'admin/base1.html' %}

{% block title %}DeleteContactMessage{% endblock title %}


{% block body %}



<br>
<form action="{% url 'deleteContact' contact.contactId %}" method="POST">
    {% csrf_token %}
    <div class="card text-center">
        <div class="card-header">
            Delete Contact Message
        </div>
        <div class="card-body">
            <h5 class="card-title">Are You Sure You Want to Delete Message From {{contact.name}}?</h5>
            <br>
            <div class=row>
            <div class='col-sm-6'>
                <a class="btn btn-primary" href="{% url 'home' %}">Cancel</a>
            </div>
            <div class='col-sm-6'>
                <input type="submit" name="Confirm" class='btn btn-danger'>
            </div>
        </div>
        </div>
        <div class="card-footer text-muted">
            This Will Pernamnelty Delete This Message
        </div>
    </div>
</form>



{% endblock body %}