{% extends 'shop/base.html' %}
{% block title %}
    Checkout
{% endblock %}
{% block body %}
    <div class="container">
        <div class="col my-4">
            {% if messages %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Thank You For Ordering.</h4>
                    <p>Your Order Details:</p>
                    <hr>
                        {% for message in messages %}
                        <p class="mb-0">{{message}}</p>
                        {% endfor %}
                        <p>You will Recieve Your Order Soon.If any Problems Occurs feel free to contact us</p>
                    </div>
                    {% comment %}
                        {% for message in messages %}
                            <h2>{{ message }}</h2>
                            {% endfor %}
                    {% endcomment %}
                {% endif %}
                <h2>
                    Step 1 - ConceptOne Express Checkout - Review Your Cart items
                </h2>
                <div class="mt-2 my-4">
                    <ul class="list-group" id='items'></ul>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-3">
                            <li class="breadcrumb-item active" aria-current="page">Your Cart Total Is
                                <b>Rs.<span id="totalPrice"></b>
                                </span>. Enter your details below & place your order. Thanks for Shopping With Us 😊</li>
                        </ol>
                    </nav>

                </div>
            </div>
            <div class="col my-4">
                <h2>
                    Step 2 - Enter Address & Other Details</h2>
                <form method="POST" action="/checkout">
                    {% csrf_token %}
                    <input type="hidden" name="itemsJson" id="itemsJson">
                        <input type="hidden" name="amount" id="amount">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Name</label>
                                    <input type="name" class="form-control" id="name" name="name" placeholder="Name"></div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" reqqired></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress">Address</label>
                                        <input type="text" class="form-control" id="address" name="address" placeholder="Tol or Area" required maxlength='15'></div>
                                        <div class="form-group">
                                            <label for="inputAddress2">Address Line 2</label>
                                            <input type="text" class="form-control" id="addressLine2" name="addressLine2" placeholder="Apartment, studio, or floor" required maxlength='15'></div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputCity">City</label>
                                                    <input type="text" class="form-control" name="city" id="city" required maxlength='15'></div>
                                                    <div class="form-group col-md-4">
                                                        <label for="inputState">State</label>
                                                        <input type="text" class="form-control" name="state" id="state" placeholder="Enter State" required></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputPhone">Phone Number</label>
                                                        <input type="tel" class="form-control" id="phone" name="phone" required></div>
                                                        <div class="form-group">
                                                            <label for="inputPaymentMethod">Payment Method:
                                                            </label>
                                                            <select class="form-select" name="paymentMethod">
                                                                <option selected>Cash On Delivery</option>
                                                                <option value="1">Pay Via Esewa</option>
                                                            </select>
                                                        </div>

                                                        <hr>
                                                            <button type="submit" class="btn btn-primary">Place Order</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endblock %}


                                            {% block js %}
                                                <script>
                                                    var sum = 0;
                                                    var totalPrice = 0;
                                                    // To cj=hev=cj=k if cart is empty
                                                    if ($.isEmptyObject(cart)) {
                                                        mystr = "<p>Your Cart is Empty. Please, add items before checking Out</p>";
                                                        $('#items').append(mystr);
                                                    }

                                                    if (localStorage.getItem('cart') == null) {
                                                        var cart = {};
                                                    } else {
                                                        cart = JSON.parse(localStorage.getItem('cart'));
                                                    }

                                                    for (item in cart) {
                                                        let name = cart[item][1];
                                                        let qty = cart[item][0];
                                                        let itemPrice = cart[item][2];
                                                        sum = sum + qty;
                                                        totalPrice = totalPrice + qty * itemPrice;
                                                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`;
                                                        $('#items').append(mystr);
                                                    }
                                                    document.getElementById('cart').innerHTML = sum;
                                                    document.getElementById('totalPrice').innerHTML = totalPrice;

                                                    $('#itemsJson').val(JSON.stringify(cart));{% comment %}
                                                        {% if thank %}
                                                            alert('Thanks For Ordering With Us. Use Your ID to Track Your Delivery')
                                                            localStorage.clear();
                                                            document.location = '/';{% endif %}
                                                    {% endcomment %}

                                                    {% if messages %}
                                                        alert({% for message in messages %}{{ message }}{% endfor %});
                                                        localStorage.clear();
                                                        document.location = '/';{% endif %}

                                                    $('#amount').val($('#totalPrice').html())
                                                </script>
                                            {% endblock js %}
