<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>esewa</title>
</head>
<body>
    <h1>Redirecting you To the Merchant</h1>
    <form action="https://uat.esewa.com.np/epay/main" method="POST">
    <input value="100" name="tAmt" type="hidden">
    <input value="90" name="amt" type="hidden">
    <input value="5" name="txAmt" type="hidden">
    <input value="2" name="psc" type="hidden">
    <input value="3" name="pdc" type="hidden">
    <input value="EPAYTEST" name="scd" type="hidden">
    <input value="MobilePhone" name="pid" type="hidden">
    <input value="http://127.0.0.1:8000" type="hidden" name="su">
    <input value="http://127.0.0.1:8000/about" type="hidden" name="fu">
    <input value="Submit" type="submit">
    </form>

    </form>


</body>
</html>